.page.theme_dark {
  --accent-clr: #ff0070;
  --accent-clr-with-background: #000028;
  --accent-heading-clr: #db00ff;
  --text-clr: #f1b2ce;
  --button-hover-clr: #ff007066;
  --heading-clr: #ff0070;
  --decorative-bracket-clr: #ff0070;
  --menu-clr: #ff0070;
  --headers-clr: #ff0070;
  --rec-decoration-clr: #ff0070;
  --cover-image: url(../images/cover-image-dark.png);
}
